.cell-list-item {
  position: relative;
}

.action-bar-wrapper {
  width: 100%;
  height: 30px;
  background-color: #37414b;
}

.card-content {
  color: white;
}

.card-content code {
  color: rgb(250, 0, 216);
  font-weight: 600;
}
